Repository sparkpointio/spark-swap-interface, pull requests merged in 2022-06, with the labels that each got.

#202 Change spacing format
  src/pages/SparkSwapWebsite/components/Navigation/styled.ts
Labels: bug

#214 [ Website ] Contact Us
  src/assets/svg/Contact Us.svg
  src/components/NumericalInput/index.tsx
  src/pages/SparkSwapWebsite/components/Contact/Contact.tsx
  src/pages/SparkSwapWebsite/components/Contact/Form.tsx
  src/pages/SparkSwapWebsite/components/Contact/index.tsx
  src/pages/SparkSwapWebsite/components/Contact/styled.tsx
  src/pages/SparkSwapWebsite/components/Contact/type.ts
  src/pages/SparkSwapWebsite/components/Elements/Buttons/Button.tsx
  src/pages/SparkSwapWebsite/components/Elements/Input/index.tsx
  src/pages/SparkSwapWebsite/components/Footer/config.ts
  src/pages/SparkSwapWebsite/components/Navigation/config.ts
  src/pages/SparkSwapWebsite/components/index.tsx
  src/pages/SparkSwapWebsite/components/styles/Layout/Colors.ts
Labels: enhancement

#233 Add roadmaps section
  src/pages/SparkSwapWebsite/components/Elements/Tab/styled.tsx
  src/pages/SparkSwapWebsite/components/Elements/Title/index.tsx
  src/pages/SparkSwapWebsite/components/Footer/config.ts
  src/pages/SparkSwapWebsite/components/Navigation/config.ts
  src/pages/SparkSwapWebsite/components/Roadmap/Roadmap.tsx
  src/pages/SparkSwapWebsite/components/Roadmap/index.tsx
  src/pages/SparkSwapWebsite/components/Roadmap/styled.ts
  src/pages/SparkSwapWebsite/components/Team/Team.tsx
  src/pages/SparkSwapWebsite/components/index.tsx
  src/pages/SparkSwapWebsite/config/constants/Roadmap.ts
  src/pages/SparkSwapWebsite/config/constants/types.ts
Labels: enhancement, Website

#255 Pages roadmap updates
  public/SparkSwapLogo.png
  src/pages/SparkSwapWebsite/components/Roadmap/Roadmap.tsx
  src/pages/SparkSwapWebsite/components/Roadmap/styled.ts
  src/pages/SparkSwapWebsite/config/constants/Roadmap.ts
  src/pages/SparkSwapWebsite/config/constants/types.ts
Labels: enhancement, Website

#266 Roadmap updates remove months
  src/pages/SparkSwapWebsite/components/Elements/Tab/styled.tsx
  src/pages/SparkSwapWebsite/components/Roadmap/Roadmap.tsx
  src/pages/SparkSwapWebsite/config/constants/Roadmap.ts
  src/pages/SparkSwapWebsite/config/constants/types.ts
Labels: enhancement, Website

#265 Navbar updates
  src/pages/SparkSwapWebsite/components/Navigation/Navigation.tsx
  src/pages/SparkSwapWebsite/components/Navigation/PanelBody.tsx
  src/pages/SparkSwapWebsite/components/Navigation/PanelFooter.tsx
Labels: Website

#278 Update team section styles
  src/pages/SparkSwapWebsite/components/Team/Team.tsx
Labels: enhancement, Website

#279 Integrate more roadmap information
  src/pages/SparkSwapWebsite/components/Roadmap/Roadmap.tsx
  src/pages/SparkSwapWebsite/components/Roadmap/styled.ts
  src/pages/SparkSwapWebsite/config/constants/Roadmap.ts
  src/pages/SparkSwapWebsite/config/constants/types.ts
Labels: Website

#282 Update Roadmap section
  src/pages/SparkSwapWebsite/components/Roadmap/Roadmap.tsx
Labels: enhancement, Website
